<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- Spring MVC DispatcherServlet配置 -->
	<display-name>springmvc</display-name>
	<!-- 字符过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 自定义配置文件路径 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!--配置上下文载入器-->
	<!--上下文载入器载入除 DispatcherServlet 载入的配置文件之外的其他上下文配置文件-->
	<!--最常见的上下文载入器是一个 servlet 监听器,其名称为 ContextLoaderListener,其实现了 ServletContextListener 接口
 		,开发者可以在为客户端请求提供服务前向 servletContext 中添加任意的对象. 
		ContextLoaderListener 对象在 ServletContext 整个运行期间都是可见的.
		ContextLoaderListener 默认加载文件为 ContextLoader.properties-->
	<listener>
		<listener-class>org.Springframework.web.context.ContextLoaderListener></listener-class>
	</listener>
	
	
	

</web-app>  
